/* * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            text-decoration: none;
            border: none;
            outline: none;
            /* font-family: 'Poppins', sans-serif;
        } */

/* html {
            font-size: 62.5%;
        } */

body {
    width: 100%;
    height: 100vh;
    /* overflow-x: hidden; */
    background-color: white;
    color: #19222B;
}

.home {
    display: flex;
    flex-direction: row;
    height: 35rem;
    align-items: center;
    justify-content: center;
    padding-left: 3rem;
    padding-right: 3rem;
    background-color: whitesmoke;
    /* min-height: 30rem; */
    width: 80%;
    /* border-bottom: 1px solid black; */
}



.home-picture {
    display: flex;
    /* width: 50%; */
    /* align-items: center; */
    /* justify-content: center; */
    padding-left: 2rem;
    padding-right: 2rem;
}

.profile-pic {
    width: 25vw;
    /* height: 50vh; */
    /* max-width: 15rem; */
    min-width: 15rem;
    /* max-height: 30rem; */
    border-radius: 60%;
    /* margin-left: 17rem; */
    /* margin-top: 7rem; */
    border: #19222B 2px solid;
}

.home-content {
    font-family: Arial;
    /* justify-content: flex-start; */
    /* display: inline-block; */
    /* width: 49%; */
    /* vertical-align: top; */
}

.home-title {
    /* left: 0; */
    font-size: 1.5rem;
    /* margin-top: 10rem; */
    margin-bottom: 1rem;
    /* margin-top: -150px; */
    /* position: absolute; */
    /* text-align: center; */
    /* top: 50%; */
    width: 20rem;
    /* padding: 1rem 35%; */

}

.home-text-style1 {
    font-size: 1.3rem;
    width: 20rem;
    text-align: left;
    /* margin-bottom: 1rem; */
    /* left: 0;
            
            margin-top: -120px;
            position: absolute;
            text-align: center;
            top: 50%;
            width: 100%; */
    /* padding: 1rem 36.3%; */
}

.home-text-style2 {
    font-size: 1rem;
    width: 20rem;
    text-align: justify;
    margin-top: 1rem;
    line-height: 1.3rem;
    /* left: 0;
            
            margin-top: -120px;
            position: absolute;
            text-align: center;
            top: 50%;
            width: 100%; */
    /* padding: 1rem 36.3%; */
}

.home-text-style3 {
    font-size: 0.7rem;
    width: 20rem;
    text-align: justify;
    margin-bottom: 1rem;
    line-height: 1.3rem;
    /* left: 0;
            
            margin-top: -120px;
            position: absolute;
            text-align: center;
            top: 50%;
            width: 100%; */
    /* padding: 1rem 36.3%; */
}

.home-discover {
    font-size: 1rem;
    width: 20rem;
    text-align: center;
    letter-spacing: 0.05rem;
    /* left: 0;
            
            margin-top: -120px;
            position: absolute;
            
            top: 50%;
            width: 100%; */
    /* padding: 1rem 36.3%; */
}

/* .discover-button:hover,
        .discover-button:active {
            color: white;
            border-bottom: 2px solid pink;
        } */

.integrated-link-title {
    font-family: "Calisto MT", "Monotype Corsiva";
    font-size: 1.5rem;
    /* font-style: italic; */
    color: #19222B;
    text-decoration: None;
    transition: 0.2s ease;
    letter-spacing: 0.1rem;
    border-bottom: 1px solid black;
}

.integrated-link {
    font-family: "Calisto MT", "Centaur";
    font-size: 1rem;
    /* font-style: italic; */
    color: #19222B;
    text-decoration: None;
    transition: 0.2s ease;
    border-bottom: 1px solid black;
}

.integrated-link:hover,
.integrated-link:active,
.integrated-link-title:hover,
.integrated-link-title:active {
    color: pink;
    border-bottom: 1px solid pink;
    /* text-decoration: underline; */
}

.emoji {
    font-size: 1.2rem;
}


.home-subitem {
    height: 20rem;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-right: 3rem;
    padding-left: 3rem;
    min-height: 30rem;
    border-bottom: 1px solid black;
}

.subitem-get-in,
.subitem-touch {
    font-family: "Calisto-MT";
}

.subitem-get-in {
    /* font-family: Arial; */
    font-size: 2rem;
    /* letter-spacing: 0.1rem; */
    margin-left: 1.3rem;
}

.subitem-touch {
    font-family: "Arial";
    font-style: italic;
    margin-top: -1.7rem;
    font-size: 4rem;
    /* font-weight: 100; */
    letter-spacing: 0.1rem;
    color: lightgray;
    /* border-bottom: 1px solid gray; */
}

.thumbnail-top,
.thumbnail,
.thumbnail-first,
.thumbnail-last {
    margin-left: 3rem;
    /* padding-bottom: 1rem; */
    /* padding: 0.5rem; */
    width: 300px;
    /* height: 10rem; */
    /* border-bottom: 1px solid gray; */
    color: gray;
}

.thumbnail-top {
    font-family: 'Calisto-MT';
    font-size: 14px;
    /* font-weight: 700; */
    letter-spacing: 0.05rem;
    /* color: gray; */
    border-bottom: 1px solid gray;
    padding-bottom: 0.5rem;
}

.thumbnail,
.thumbnail-first,
.thumbnail-last {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: Arial, "Calisto-MT";
    /* padding-top: 1rem; */
    /* padding-left: 1rem; */
    font-size: 20px;
    height: 3.5rem;
    vertical-align: middle;
    border-right: 1px solid black;
    /* border-left: 1px solid black; */
}

/* .thumbnail-first {
    padding-top: 1rem;
} */

.thumbnail-last {
    margin-bottom: 3rem;
}

.thumbnail-integrated-link {
    font-family: "Calisto-MT";
    /* font-style: italic; */
    font-size: 14px;
    letter-spacing: 0.03rem;
    /* color: #19222B; */
    color: gray;
    /* text-decoration: None; */
    transition: 0.2s ease;
    /* border-bottom: 0.3px solid gray; */
    border-bottom: 1px solid transparent;
    margin-left: 0.5rem;
}

.thumbnail-integrated-link:hover {
    color: pink;
    border-bottom: 1px solid pink;
    /* text-decoration: underline; */
}


/* footer {
    margin-top: 2rem;
}

.footer-item {
    display: flex;
    width: 33%;
    align-items: center;
} */